<%- include("partials/header") -%>

<h1>Hello</h1>

<p><%= homeContent %></p>

<% posts.forEach(function(entries) {  %>
        <h1> <%= entries.postTitle %> </h1>
        <p> <%= entries.postBody %> </p>
<% }); %>

<%- include("partials/footer") -%>